<!--
/**
 * @copyright: Copyright © 2019 Serhiy Kapitanets. All rights reserved.
 * @author   : Serhiy Kapitanets <kapitanets@gmail.com>
 */
-->
<!--@subject {{trans "RE: Contact Form"}} @-->
<!--@vars {
"var data.name":"Name",
"var data.comment":"Comment"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %name," name=$data.name}}</p>
            <p>
                {{var data.comment|escape|nl2br}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
