<div class="admin__field">
    <div class="admin__field-label">
        <label><span data-bind=" i18n: 'Name:'"></span></label>
    </div>
    <div class="admin__field-control">
        <span style="line-height: 3.2rem;" data-bind="text: contactedus.name"></span>
    </div>
</div>
<div class="admin__field">
    <div class="admin__field-label">
        <label><span data-bind=" i18n: 'Email:'"></span></label>
    </div>
    <div class="admin__field-control">
        <span style="line-height: 3.2rem;" data-bind="text: contactedus.email"></span>
    </div>
</div>
<div class="admin__field">
    <div class="admin__field-label">
        <label><span data-bind=" i18n: 'Telephone:'"></span></label>
    </div>
    <div class="admin__field-control">
        <span style="line-height: 3.2rem;" data-bind="text: contactedus.phone"></span>
    </div>
</div>
<div class="admin__field">
    <div class="admin__field-label">
        <label><span data-bind=" i18n: 'Created Date:'"></span></label>
    </div>
    <div class="admin__field-control">
        <span style="line-height: 3.2rem;" data-bind="text: contactedus.creation_time"></span>
    </div>
</div>
<div class="admin__field">
    <div class="admin__field-label">
        <label><span data-bind=" i18n: 'Comment:'"></span></label>
    </div>
    <div class="admin__field-control">
        <span style="line-height: 3.2rem;" data-bind="text: contactedus.comment"></span>
    </div>
</div>
